one-to-manyowned-view {
  display: flex;
  height: 100%;
  flex-direction: column;
}

one-to-manyowned-view .grid-wrapper {
  flex-grow: 1;
  width: 100%;
}

one-to-manyowned-view .full-size {
  width: 100%;
  height: 100%;
}

one-to-manyowned-view #editor-layout {
  width: 400px;
  display: flex;
  flex-direction: column;
}

one-to-manyowned-view #editor {
  padding: var(--lumo-space-l);
  flex-grow: 1;
}

one-to-manyowned-view #button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding: var(--lumo-space-s) var(--lumo-space-l);
}
